Data Science Tools and Ecosystem

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
    <ul>
        <li>Some of the popular languages that Data Scientists</li>
        <li>Some of the commonly used libraries used by Data Scientists</li>
        <li>Some commonly used Data Science Tools</li>
    </ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. VBA

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Spyder</td>
  </tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

In [ ]:
minutes = 200
hours = minutes / 60

# This will convert 200 minutes to hours by diving by 60
print("200 minutes is equal to", hours, "hours")

<h2>Author Ishita Biswas </h2>